<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>チャット</title>
		<link rel="stylesheet" href="/css/ress.css" />
		<link rel="stylesheet" href="/css/chat-new.css" />
		<link
			href="https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body>
		<header>
			<div class="inner">
				<div class="header_menu">
					<a href="/home"
						><svg
							class="migi"
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 320 512"
						>
							<!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
							<path
								fill="#ffffff"
								d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"
							/>
						</svg>
					</a>
					<p class="username">あったかい</p>
				</div>
			</div>
		</header>
		<div class="mychat inner">
			<p class="day">今日</p>
		</div>
		<div class="textform">
			<img class="photo" src="/images/images.png" alt="photo" />
			<form>
				<input class="textarea" type="text" placeholder="入力。。。" />
			</form>
			<img class="mic" src="/images/mic.png" alt="photo" />
		</div>
		<footer>
			<nav>
				<ul>
					<li>
						<a href="/home"><i></i><span>ホーム</span></a>
					</li>
					<li class="active">
						<a href="#"><i></i><span>メッセージ</span></a>
					</li>
					<li>
						<a href="/notification"><i></i><span>通知</span></a>
					</li>
					<li>
						<a href="/profile"><i></i><span>プロフィール</span></a>
					</li>
				</ul>
			</nav>
		</footer>
		<script src="/js/chat.js"></script>
	</body>
</html>
