<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Home</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="/css/ress.css" />
		<link rel="stylesheet" href="/css/home.css" />
	</head>
	<body>
		<div class="main"></div>
		<footer>
			<nav>
				<ul>
					<li class="active">
						<a href="/home"><i></i><span>ホーム</span></a>
					</li>
					<li>
						<a href="/chat"><i></i><span>メッセージ</span></a>
					</li>
					<li>
						<a href="/notification"><i></i><span>通知</span></a>
					</li>
					<li>
						<a href="/profile"><i></i><span>プロフィール</span></a>
					</li>
				</ul>
			</nav>
		</footer>
		<script src="/js/home.js"></script>
	</body>
</html>
