<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>通知</title>
		<link rel="stylesheet" href="/css/ress.css" />
		<link rel="stylesheet" href="/css/notification.css" />
		<link
			href="https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body>
		<div class="inner">
			<div class="headline_all">
				<div class="headline_icon"></div>
				<p class="headline">趣味を語り合おう</p>
				<img
					class="headline_icon_decoration"
					src="/images/headline_icon.svg"
					alt=""
				/>
			</div>
			<article class="user_all">
				<a href="/chat">
					<div class="user">
						<img class="user_icon" src="/images/icon.png" alt="" />
						<article class="user_text">
							<p class="text">ABSWさん</p>
							<p class="comment">はじめまして!</p>
						</article>
						<svg
							class="migi"
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 320 512"
						>
							<!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
							<path
								d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"
							/>
						</svg>
					</div>
				</a>
				<a href="/chat">
					<div class="user twoicon">
						<img class="user_icon" src="/images/icon.png" alt="" />
						<article class="user_text">
							<p class="text">ABSWさん</p>
							<p class="comment">いきなりすみません！ベトナム…</p>
						</article>
						<svg
							class="migi"
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 320 512"
						>
							<!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
							<path
								d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"
							/>
						</svg>
					</div>
				</a>
			</article>
			<div class="headline_all">
				<div class="headline_icon"></div>
				<p class="headline">お知らせ</p>
				<img
					class="headline_icon_decoration"
					src="/images/headline_icon.svg"
					alt=""
				/>
			</div>
		</div>
		<footer>
			<nav>
				<ul>
					<li>
						<a href="/home"><i></i><span>ホーム</span></a>
					</li>
					<li>
						<a href="/chat"><i></i><span>メッセージ</span></a>
					</li>
					<li class="active">
						<a href="/notification"><i></i><span>通知</span></a>
					</li>
					<li>
						<a href="/profile"><i></i><span>プロフィール</span></a>
					</li>
				</ul>
			</nav>
		</footer>
	</body>
</html>
