<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>プロフィール</title>
		<link rel="stylesheet" href="/css/ress.css" />
		<link rel="stylesheet" href="/css/profile.css" />
		<link
			href="https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body>
		<main>
			<div class="headline_all">
				<div class="headline_icon"></div>
				<p class="headline">プロフィールを選択してください。</p>
				<img
					class="headline_icon_decoration"
					src="/images/headline_icon.svg"
					alt=""
				/>
			</div>

			<div class="profile_all">
				<section>
					<article class="new_profile">
						<a href="/create-profile">
							<p class="new_text">新しく作る ＋</p>
						</a>
					</article>
					<article class="new_profile">
						<a href="/create-profile">
							<p class="new_text">新しく作る ＋</p>
						</a>
					</article>
				</section>
			</div>
			<div class="bokasi"></div>
		</main>
		<footer>
			<nav>
				<ul>
					<li>
						<a href="/home"><i></i><span>ホーム</span></a>
					</li>
					<li>
						<a href="/chat"><i></i><span>メッセージ</span></a>
					</li>
					<li>
						<a href="/notification"><i></i><span>通知</span></a>
					</li>
					<li class="active">
						<a href="/profile"><i></i><span>プロフィール</span></a>
					</li>
				</ul>
			</nav>
		</footer>
		<script src="/js/profile.js"></script>
	</body>
</html>
