@charset "utf-8";
body {
  font-family: "A P-OTF A1Gothic StdN";
}
.helloworld {
  display: none;
}

.inner {
  max-width: 374px;
  margin: 0 auto;
  padding: 0;
  width: 95.89%;
}
body {
  color: #fff;
  font-family: "Gothic A1", sans-serif;
  font-style: normal;
}
a {
  text-decoration: none;
}
/* header */

header {
  width: 100vw;
  height: 100vh;
  background: url("/images/firstview.png");
}

.header_textall {
  margin: 0 0 15px;
  margin-right: 2.4%;
  /*  */
  text-align: right;
}
.header_text_other {
  margin-right: 265px;
  display: inline-block;
  margin-bottom: 10px;
  padding: 6px 10px 6px 9px;
  border-radius: 15px 15px 15px 0px;
  /*  */
  background: rgba(172, 172, 172, 0.5);
  backdrop-filter: blur(2px);
  font-size: 12px;
  letter-spacing: -1px;
}
.header_text {
  display: inline-block;
  margin-bottom: 10px;
  padding: 6px 10px 6px 9px;
  border-radius: 15px 15px 0 15px;
  /*  */
  background: rgba(43, 127, 225, 0.8);
  font-size: 12px;
  letter-spacing: -1px;
}
.header_logo {
  margin: 0 auto 32px;
  padding: 33px 20px 20px;
}
form {
  width: fit-content;
  margin: 0 auto;
}
input[type="text"] {
  padding: 0;
  margin: 0;
  border: 0;

  width: 358px;
  height: 40px;
  margin-bottom: 15px;
}
input[type="password"] {
  padding: 0;
  margin: 0;
  border: 0;
  width: 358px;
  height: 40px;
}

.textbox {
  margin: 0 auto;
}
.text {
  color: #fff;

  font-family: "A P-OTF A1Gothic StdN";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 157.143% */
}
.resetting {
  text-align: right;
  margin-top: 2%;
  margin-right: 2%;
  margin-bottom: 20px;
  color: #d0d0d0;
  /*  */
  font-size: 10px;
}

.nextBtn {
  font-family: "A P-OTF A1Gothic StdN";
  background: linear-gradient(
      59deg,
      rgba(180, 213, 223, 0) 7.96%,
      rgba(92, 196, 229, 0.5) 72.93%
    ),
    linear-gradient(69deg, #2b7fe1 18.89%, #5d93d3 77.1%);
  font-size: 20px;
  font-weight: bold;
  width: 357px;
  color: #fff;
  display: block;
  margin: 0 auto 15px;
  padding: 24px 89px;
  border: none;
  border-radius: 15px 15px 0 15px;
  cursor: pointer;
}
.addnow {
  text-align: center;
  color: #d0d0d0;
  font-size: 10px;
}

.addbtn {
  font-weight: normal;
  color: #fff;
}
.other_text::before {
  content: "";
  position: absolute;
  left: 15px;
  top: 10px;
  width: 130px;
  height: 1px;
  color: #fff;
  background-color: #fff;
}
.other_text::after {
  content: "";
  position: absolute;
  top: 10px;
  width: 145px;
  height: 1px;
  color: #fff;
  background-color: #fff;
  right: 16px;
}
.other_text {
  position: relative;
  margin-top: 20px;
  margin-bottom: 15px;
  text-align: center;
}
.other_login {
  margin: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.google_all {
  position: relative;
  cursor: pointer;
}
.google {
  font-size: 13px;
  max-width: 170px;
  display: block;
  text-align: center;
  margin: 0;
  padding: 12px 63px;
  border: 0;
  color: #000;
  background-color: #fff;
  border-radius: 5px;
}

.google_icon {
  position: absolute;
  z-index: 99;
  width: 29px;
  height: 29px;
  top: 7px;
  left: 5px;
}
.insta_all {
  position: relative;
  cursor: pointer;
}
.insta {
  font-size: 13px;
  max-width: 170px;
  display: block;
  text-align: center;
  padding: 12px 63px;
  margin: 0;
  border: 0;
  color: #000;
  background-color: #fff;
  border-radius: 5px;
}

.insta_logo {
  position: absolute;
  top: 7px;
  left: 11px;
  width: 29px;
}
.login_text {
  margin-top: 15px;
  text-align: center;
  color: #fff;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 20.8px */
}
