@charset "utf-8";

body {
	width: 100vw;
	height: 100vh;

	color: #000;
	background-color: #d8dee6;
	font-family: "A P-OTF A1Gothic StdN";
}
a {
	text-decoration: none;
}
ul,
li {
	list-style: none;
}
main {
	width: 100vw;
	height: 100vh;
}
.headline_all {
	position: relative;
	width: 353px;
	height: 36px;
	background-color: #fff;
	margin: 30px auto 25px;
	display: flex;
	align-items: center;
}

.headline {
	color: #2b7fe1;
	font-feature-settings: "clig" off, "liga" off;
	font-family: "A P-OTF A1Gothic StdN";
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 22px; /* 137.5% */
}
.headline_icon {
	margin-left: 5px;
	margin-right: 6px;
	width: 26px;
	height: 26px;

	border-radius: 10px 10px 10px 0px;
	background: linear-gradient(
			0deg,
			rgba(180, 213, 223, 0) 7.96%,
			rgba(92, 196, 229, 0.5) 72.93%
		),
		linear-gradient(69deg, #2b7fe1 18.89%, #5d93d3 77.1%);
}
.headline_icon_decoration {
	position: absolute;
	top: 10px;
	left: 10px;
}
.profile {
	position: relative;
	width: 353px;
	height: 139px;
	flex-shrink: 0;
	margin: 10px auto 0;
	display: flex;
	border: none;
	border-radius: 10px 10px 10px 0px;
	background: #3d5c8a;
}
h3 {
	margin-top: 26px;
	color: #fff;
	font-feature-settings: "clig" off, "liga" off;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 160%; /* 28.8px */
}
.tag_all {
	display: flex;
	margin-bottom: 5px;
}
.tag {
	color: #fff;
	font-feature-settings: "clig" off, "liga" off;
	font-size: 10px;
	font-style: normal;
	font-weight: 400;
	line-height: 160%; /* 16px */
	margin-right: 5px;
}
.profile_icon {
	width: 100px;
	height: 100px;
	flex-shrink: 0;
	border-radius: 20px;

	margin: auto 12px;
}

.text {
	width: 192px;
	height: 38px;
	color: #ccc;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 160%; /* 19.2px */
}

.editicon {
	position: absolute;
	top: 33px;
	right: 14px;
	flex-shrink: 0;
	border-radius: 6px;
	opacity: 0.95;
	background: #fff;
}

.profile_all {
	width: 100%;
	height: auto;
	position: relative;
}
.new_profile {
	border-radius: 10px 10px 0px 10px;
	border: 1px dashed #000;

	background: #fff;
	width: 353px;
	height: 88px;
	margin: 10px auto 0;
}

.new_text {
	padding: 28px 0;
	/*  */
	font-size: 20px;
	font-family: "A P-OTF A1Gothic StdN";
	font-weight: 500;
	text-align: center;
	background: linear-gradient(69deg, #2b7fe1 18.89%, #5d93d3 77.1%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
footer {
	width: 100%;
	height: 8rem;
	position: fixed;
	bottom: 0;
	left: 0;
	background: #627c9b;
}
footer nav {
	width: 100%;
	height: 100%;
}
footer nav ul {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
footer nav ul li {
	list-style: none;
	flex-basis: 25%;
	height: 100%;
}
footer nav ul li a {
	width: 100%;
	height: 100%;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
footer nav ul li a i {
	display: inline-block;
	width: 3rem;
	height: 3rem;
	background-size: contain;
	background-repeat: no-repeat;
	margin-bottom: 0.2rem;
}
footer nav ul li a span {
	color: #fff;
	font-size: 1.1rem;
	font-style: normal;
	font-weight: 600;
	text-align: center;
}
footer nav ul li:nth-child(1) a i {
	background-image: url("../images/footer-home-icon-active.svg");
}
footer nav ul li:nth-child(2) a i {
	background-image: url("../images/footer-mess-icon.svg");
}
footer nav ul li:nth-child(3) a i {
	background-image: url("../images/footer-home-noti.svg");
}
footer nav ul li:nth-child(4) a i {
	background-image: url("../images/footer-home-profile.svg");
}
.active {
	background: linear-gradient(
			59deg,
			rgba(180, 213, 223, 0) 7.96%,
			rgba(92, 196, 229, 0.5) 72.93%
		),
		linear-gradient(69deg, #2b7fe1 18.89%, #5d93d3 77.1%);
	border-radius: 1rem 1rem 0rem 0rem;
}

.bokasi {
	pointer-events: none;
	display: block;
	margin: 0 6px;
	position: fixed;
	bottom: 80px;
	z-index: 999;
	width: 370px;
	height: 232px;
	flex-shrink: 0;
	background: linear-gradient(180deg, rgba(216, 222, 230, 0) 0%, #d8dee6 100%);
}
